{% extends '_layout.twig' %}

{% block content %}
  <div class="py-2 px-2">
      <button class="bg-blue-700 hover:bg-blue-700 text-white font-bold py-1 px-4 border border-blue-700">
        Process
      </button>
      <div class="text-4xl font-bold">
          Your AC Repair in Four Easy Steps
      </div>
  </div>
  <div class="md:flex py-2 px-2">
    <div class="md:flex-shrink-0">
      <img class="sm:w-full md:w-64" src="image1.jpg" alt="Woman paying for a purchase">

    </div>
    <div class="mt-4 md:mt-0 md:ml-6">
      <p class="block mt-1 text-2xl leading-tight font-semibold text-gray-900 hover:underline">Schedule Your Repair</p>
      <p class="mt-2 text-gray-600">Not fiddle draws threats unspoiled quietly great-great-great-great-uncle dog Frogmorton. Wilds prophecy pouring bestow well-wishers relatives thirty-four. Guldur rise travel childhood master's. Call <a href=''>843-708-5186</a></p>
    </div>
  </div>
  <div class="md:flex py-2 px-2">
    <div class="md:flex-shrink-0">
      <img class="sm:w-full md:w-64" src="image2.jpg" alt="Woman paying for a purchase">
    </div>
    <div class="mt-4 md:mt-0 md:ml-6">
      <p class="block mt-1 text-2xl leading-tight font-semibold text-gray-900 hover:underline">Meet Your Technician</p>
      <p class="mt-2 text-gray-600">Holes maiden explain deadliest Dimrill calamity sleeping trailing food perfected language. Raid sigh leave takes chair Brandywine. Lady nothing's tea smirking gaining Sméagol. You are full of surprises, Master Baggins.</p>
    </div>
  </div>
  <div class="md:flex py-2 px-2">
    <div class="md:flex-shrink-0">
      <img class="sm:w-full md:w-64" src="https://picsum.photos/id/1054/300/200" alt="Woman paying for a purchase">
    </div>
    <div class="mt-4 md:mt-0 md:ml-6">
      <p class="block mt-1 text-2xl leading-tight font-semibold text-gray-900 hover:underline">Get Your System Working Again</p>
      <p class="mt-2 text-gray-600">Stirring guest plan Ringwraiths enchanted alone disappearance condone travel pull? Don't you leave him, Samwise Gamgee. Ruling release listened Dori bargeman ha simply salted painted tapestry.</p>
    </div>
  </div>
  <div class="md:flex py-2 px-2">
    <div class="md:flex-shrink-0">
      <img class="sm:w-full md:w-64" src="https://picsum.photos/id/1025/300/200" alt="Woman paying for a purchase">
    </div>
    <div class="mt-4 md:mt-0 md:ml-6">
      <p class="block mt-1 text-2xl leading-tight font-semibold text-gray-900 hover:underline">Let Us Know How We Did</p>
      <p class="mt-2 text-gray-600">Titles talisman soft reckless meadow Kingdom. Orcrist arm matters useless unlikely threads? Spirits pieces ceases wear better fifth aloft signal Thorin Oakenshield drums pain election.</p>
    </div>
  </div>

{% endblock %}